/*Css for different screen sizes */

@media screen and (max-width: 980px){
    #header {
        padding: 2%;
        width: 30%;
    }
}


@media screen and (max-width: 768px){
    #header {
        width: 33%;
        font-size: 35px;
    }
    ul {
        margin: 0;
    }
    li {
        margin-top: 3%;
    }

    .main-panel {
        width: 90%;
        margin: 5%;
        margin-top: 15%;
    }
    .main-panel #me {
        width: 40%;
        margin: 2%;
    }
    .main-panel p {
        line-height: 1.6;
    }
    .sidebar {
        width: 90%;
        margin: 5%;
        margin-bottom: 15%;
        margin-top: 3%;
    }
}

@media screen and (max-width: 640px) {

    #header {
        width: 100%;
        display: inline-block;
        margin: 0;
    }
    ul {
        float: none;
        margin: 0;
    }
    li {
        width: 30%;
        float: none;
        display: inline-block;
        margin: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    li p {
        font-size: 23px;
    }
    .main-panel {
        display: inline-block;
        width: 90%;
        margin: 5%;
        margin-top: 18%;
    }
    #index img {
        width: 100%;
        margin: 3% auto;
    }
    .sidebar {
        width: 90%;
        margin: 5%;
        margin-bottom: 18%;
    }
    .sidebar img {
        margin-left: 3%;
    }
    input {
        border: 1px #adadad solid;
    }
    #portfolio .project {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2%;
    }
    #portfolio .project p{
        font-size: 25px;
        padding: 2%;
    }
    #portfolio .project:nth-child(even){
        float: none;
    }
    #portfolio .project:nth-child(odd){
        float: none;
    }
}