/*Css for different screen sizes */

@media screen and (max-width: 980px) {
    #container {
        width: 980px;
        text-align: center;
    }
   #topnav {
        position: static;
    }
    #topnav h1 {

    }
    #toplinks {

    }
    #sidebar {
        width: 26%;
        margin: 5px;
        margin-top: 5%;
        margin-left: 5%;
    }
    #footer {
        position: static;
        clear: both;
        padding-bottom: 25px;
    }

    #middle, #contact {
        width: 50%;
        margin: 5px;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #middle img {
        display: block;
        margin: 0 auto;
        float: initial;
    }
    #middle p {
        clear: both;

    }
    #middle h2 {
        text-align: left;

    }
    #fullName {

    }
    #name {

    }
    #message {
        
    }

}
@media screen and (max-width: 768px) {
    #container {
        width: 768px;

    }
    p:hover {
    color: #41AAA5;
    background-color: white;
    }
    #topnav {
        position: static;
        width: 100%;
    }
    #topnav h1 {
        margin-left: 25px;

    }
    #toplinks {

    }
    #toplinks li {

    }
    #sidebar {
        clear: both;
        width: 90%;
        margin: 20px 20px;
        text-align: center;
    }
    #footer {
        position: fixed;
        clear: both;
        padding-bottom: 25px;
    }

    #middle, #contact {
        width: 90%;
        margin: 50px 20px;
    }
    #middle p {
        clear: initial;
        line-height: 1.6;

    }
    #middle img {
        display: inline;
        float: left;

    }
    #middle h2 {
        text-align: left;
        padding-left: 10px;
        
    }
    #fullName {
        width: 100%

    }
    #email {
        width: 100%;
    }
    #message {
        width: 100%;
    }
    #button {
        float: left;
        margin: 10px;
    }
}

@media screen and (max-width: 640px) {

    #header {
        width: 100%;
        display: inline-block;
        margin: 0;
    }
    ul {
        float: none;
        margin: 0;
    }
    li {
        width: 30%;
        float: none;
        display: inline-block;
        margin: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    li p {
        font-size: 23px;
    }
    .main-panel {
        display: inline-block;
        width: 90%;
        margin: 5%;
        margin-top: 18%;
    }
    #index img {
        width: 100%;
        margin: 3% auto;
    }
    .sidebar {
        width: 90%;
        margin: 5%;
        margin-bottom: 18%;
    }
    .sidebar img {
        margin-left: 3%;
    }
    input {
        border: 1px #adadad solid;
    }
}