body {
    background-image: url("../images/wood.png");
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}
* {
  box-sizing: border-box;
}
/*Css for Navigation bar*/
nav {
    width: 100%;
    border-bottom: 2px solid #CCCCCC;
    overflow: auto;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999;

}

ul {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    float: right;
    margin-right: 5%;
    text-align: center;
}
li {
    display: inline-block;
    margin: 20px 20px 0px 10px;
    font-size: 20px;

}
li:nth-child(2), li:nth-child(1) {
    border-right: 2px solid #CCCCCC;
    padding-right: 10px;
}
a {
    text-decoration: none;
    color: #999;
}


#header {
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    background-color: #41AAA5;
    width: 20%;
    margin-left: 5%;
    font-size: 45px;
    padding: 1%;
    display: inline-block;
    color: white;
    margin-bottom: 0px;

}
/*end of navigation bar */

/*general css for main panels and sidebar */
.main-panel {
    background-color: #fff;
    clear: both;
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: 10%;
    width: 45%;
    float: left;
    border: 2px solid #CCCCCC;
    position: relative;
    padding: 15px;
    
}
h3,
.main-panel h2{
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #41AAA5;
    font-size: 35px;
    border-bottom: 2px solid #CCCCCC;
    margin: 10px;
    padding-bottom: 5px;

}
.main-panel section {
    margin-top: 3%;
}


.sidebar {
    background-color: #fff;
    text-align: center;
    width: 25%;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    position: relative;
    border: 2px solid #CCCCCC;

}
.sidebar img {
    margin: 10px;
}
/*end of general css for main panel and sidebar*/
/*css for footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666;
    color: white;
    text-align: center;
    clear: both;
    border-top: 3px solid #41AAA5;
    padding: 20px;
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;

}
/*end footer*/

/*css specific for index*/
#index p {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    line-height: 1.4em;
    color: #7B7F8B;
    letter-spacing: .03em;
    font-size: 18px;
    margin: 10px 20px 20px 5px;

}
#index img {
    height: 25%;
    float: left;
    margin: 0px 10px 10px 10px;
}

/*css for contact page*/

#contactPanel p{
    color: #7B7F8B;
}
#contactPanel input {
    width: 80%;
    margin: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
}

#contactPanel button {
    width: 15%;
    padding: 2%;
    border-radius: 4px;
    color: white;
    background-color: #41AAA5;
    border: none;
}

/*css for portfolio projects page*/

#portfolio .project {
    width: 45%;
    text-align: center;
    margin-bottom: 5%;
    position: relative;
}
#portfolio .project:nth-child(even){
    float: right;
}
#portfolio .project:nth-child(odd){
    float: left;
}
.project img {
    width: 100%;
}
.project p {
    background-color: #41AAA5;
    color: white;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 5px;
}
.project p:hover {
    background-color: white;
    color: #41AAA5;
}

